In [1]:
%load_ext autoreload
%autoreload 2
import sys
# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

In [2]:
from src import most_recent_mesonet_data
from src import most_recent_mesonet_time
from src import landtype_describe
from src.plotting_scripts import landtype
import os
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from scipy.stats import skew
import statistics 
import cartopy.crs as crs
import cartopy.feature as cfeature

Matplotlib created a temporary config/cache directory at /tmp/tmp.T0zj21kzzO/matplotlib-7xk07gsv because the default path (/home/aevans/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [21]:
def format_df(df):
    new_df = pd.DataFrame()
    value_list = []
    for x,_ in df.iterrows():
        count = int(df.iloc[x]['COUNT'])
        value = df.iloc[x]['VALUE']
        for n in np.arange(count):
            val = value
            value_list.append(val)
    new_df['VALUE'] = value_list
    return new_df

def stat_anal(state, buffer, directory, state_df, station_list, lonlist, latlist):
    final_df = pd.DataFrame()
    std_list = []
    variance_list = []
    skew_list = []
    distance_list = []
    stations = []
    elevs = []
    for x,_ in enumerate(directory):
        # read in csv
        df2 = pd.DataFrame()
        df = pd.read_csv(f'/home/aevans/landtype/elevation/data/{state}/elev/{buffer}km/{directory[x]}')
        dfv1 = format_df(df)
        std = statistics.stdev(dfv1['VALUE'])
        variance = statistics.pvariance(dfv1['VALUE'])
        my_skew = skew(dfv1['VALUE'])
        elevation = state_df['elev'].iloc[x]
        station = station_list[x]
        split_diff = dfv1['VALUE'] - state_df['elev'].iloc[x]
        diff_list = split_diff.to_list()
        df2['diff_elev'] = diff_list
        describe = df2['diff_elev'].describe()
        fifty = describe[5]
        distance = state_df['elev'].iloc[x] - fifty
        # add data
        stations.append(station)
        elevs.append(elevation)
        distance_list.append(distance)
        skew_list.append(my_skew)
        variance_list.append(variance)
        std_list.append(std)

    final_df['station'] =  stations
    final_df['elev'] = elevs 
    final_df['std'] = std_list
    final_df['variance'] = variance_list
    final_df['skew'] = skew_list
    final_df['med_dist'] = distance_list
    final_df['lon'] = lonlist
    final_df['lat'] = latlist
    return final_df

def percent_plot(df, variable):
    fig, ax = plt.subplots(figsize=(20,10))
    ax.scatter(df['station'], df[variable], s=50)
    for n in df.iterrows():
        ax.annotate(n[1]['station'], (n[1]['station'], n[1][variable]), fontsize=15)
    ax.grid()
    ax.set_ylabel(variable, size=20)
    ax.tick_params(labelbottom = False, bottom = False)

def plurality_plot(df, s):

    fig, ax = plt.subplots()
    df.plot.scatter(x='lon',
                                        y='lat',
                                        c=s,
                                        s=s,
                                        colormap='jet',
                                        figsize=(9,6),
                                        ax = ax
                                        )
    ax.set_title(f'Mesonet Site {s} by Elevation', size=16)
    ax.set_xlabel('Longitude',size=14)
    ax.set_ylabel('Latitude',size=14)
    ax.tick_params(axis='x', labelsize=12)
    ax.tick_params(axis='y', labelsize=12)
    ax.grid()

def good_sites_elev_ok(elev_df):
    good_list = []

    for x,_ in elev_df.iterrows():
        if (elev_df.iloc[x]['std'] < 100) & (elev_df.iloc[x]['variance'] < 5000) & (elev_df.iloc[x]['med_dist'] < 400) & (elev_df.iloc[x]['skew'] < 1.0) & (elev_df.iloc[x]['skew'] > -1.0):
            good_station = elev_df.iloc[x]['station']
            good_list.append(good_station)

    return good_list

def good_sites_elev(elev_df):
    good_list = []

    for x,_ in elev_df.iterrows():
        if (elev_df.iloc[x]['std'] < 150) & (elev_df.iloc[x]['variance'] < 20000) & (elev_df.iloc[x]['med_dist'] < 400) & (elev_df.iloc[x]['skew'] < 1.0) & (elev_df.iloc[x]['skew'] > -1.0):
            good_station = elev_df.iloc[x]['station']
            good_list.append(good_station)

    return good_list

def good_sites_df(df, good_list):
    lons = []
    lats = []
    stations = []
    for x,_ in df.iterrows():
        if df.iloc[x]['station'] in good_list:
            get_station = df.iloc[x]['station']
            get_lon = df.iloc[x]['lon']
            get_lat = df.iloc[x]['lat']
            lons.append(get_lon)
            lats.append(get_lat)
            stations.append(get_station)
    good_elev_df = pd.DataFrame()
    good_elev_df['station'] = stations
    good_elev_df['lon'] = lons
    good_elev_df['lat'] = lats
    return good_elev_df

def good_elevs_plot(good_elev_df):
    projPC = crs.PlateCarree()
    latN = good_elev_df['lat'].max()+1
    latS = good_elev_df['lat'].min()-1
    lonW = good_elev_df['lon'].max()+1
    lonE = good_elev_df['lon'].min()-1
    cLat = (latN + latS) / 2
    cLon = (lonW + lonE) / 2
    projLcc = crs.LambertConformal(central_longitude=cLon, central_latitude=cLat)

    fig, ax = plt.subplots(figsize=(12,9), subplot_kw={'projection': crs.PlateCarree()})
    ax.set_extent([lonW, lonE, latS, latN], crs=projPC)
    ax.add_feature(cfeature.LAND)
    ax.add_feature(cfeature.COASTLINE)
    ax.add_feature(cfeature.BORDERS, linestyle='--');
    ax.add_feature(cfeature.LAKES, alpha=0.5)
    ax.add_feature(cfeature.STATES)
    ax.xticklabels_top = False
    ax.ylabels_right = False
    ax.gridlines(crs=crs.PlateCarree(), draw_labels=True,
                    linewidth=2, color='black', alpha=0.5, linestyle='--')
    ax.scatter(x=good_elev_df['lon'],
                                        y=good_elev_df['lat'],
                                        c = 'r',
                                        s = 40,
                                        )
    for n in good_elev_df.iterrows():
        ax.annotate(n[1]['station'], (n[1]['lon']+0.1, n[1]['lat']), fontsize=10)
    ax.set_title(f'Good Mesonet Sites by Elevation', size=16)
    ax.set_xlabel('Longitude',size=14)
    ax.set_ylabel('Latitude',size=14)
    ax.tick_params(axis='x', labelsize=12)
    ax.tick_params(axis='y', labelsize=12)
    ax.grid()

In [4]:
# This will return the most recent data avail on mesonet 
# this is my file path
ny_mesonet_data_path = '/home/aevans/nysm/archive/nysm/netcdf/proc'
ok_mesonet_data_path = '/home/aevans/landtype/geoinfo.csv'

In [5]:
# create a dataframe of mesonet data ny
ny_df = most_recent_mesonet_data.current_time_mesonet_df(ny_mesonet_data_path)
ny_df = most_recent_mesonet_time.most_recent_time(ny_df, ny_mesonet_data_path)

In [6]:
# create a dataframe of mesonet data ok
ok_df = pd.read_csv(ok_mesonet_data_path)

In [7]:
# paths to data 
path_ny_1 = f'/home/aevans/landtype/elevation/data/CSVs_slope_ny_1km/'
path_ny_10 = f'/home/aevans/landtype/elevation/data/CSVs_slope_ny_10km/'
path_ny_30 = f'/home/aevans/landtype/elevation/data/CSVs_elevation_ny_30km/'
path_ny_50 = f'/home/aevans/landtype/elevation/data/CSVs_elevation_ny_50km/'
path_ok_30 = f'/home/aevans/landtype/elevation/data/CSVs_elevation_ok_30km/'
path_ok_50 = f'/home/aevans/landtype/elevation/data/CSVs_elevation_ok_50km/'

In [8]:
station_list_ny = ny_df['station'].to_list()

In [9]:
elevation_list_ny = ny_df['elev'].to_list()
elevation_list_ok = ok_df['elev'].to_list()

In [10]:
station_list_ok = ok_df['stid'].to_list()

In [11]:
ny_df_lons = ny_df['lon'].to_list()
ny_df_lats = ny_df['lat'].to_list()
ok_df_lons = ok_df['elon'].to_list()
ok_df_lats = ok_df['nlat'].to_list()

In [12]:
x = 0
for i in range(1,127): 
    df = pd.read_csv(f'{path_ny_10}/aspect_csv_{i}.csv')
    df.to_csv(f'/home/aevans/landtype/elevation/data/NY/elev/10km/{station_list_ny[x]}_elev_10km.csv')
    x+= 1

In [13]:
directory = os.listdir(f'/home/aevans/landtype/elevation/data/NY/elev/10km/')
sorted_direct= sorted(directory)

In [22]:
elev_df_10 = stat_anal('NY', 10, sorted_direct, ny_df, station_list_ny, ny_df_lons, ny_df_lats)

     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
225     19
226     19
227     19
228     19
229     19

[230 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     27
235     27
236     27
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     19
236     19
237     19
238     19
239     19

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     27
235     27
236     27
237     27
238     27

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     28
235     28
236     28
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
115     19
116     19
117     19
118     19
119     19

[120 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
223     19
224     19
225     19
226     19
227     19

[228 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     26
231     26
232     27
233     27
234     27

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     19
236     19
237     19
238     19
239     19

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
196     23
197     23
198     23
199     23
200     23

[201 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     27
233     27
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     19
237     19
238     19

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     27
231     27
232     28
233     28
234     28

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
242     19
243     19
244     19
245     19
246     19

[247 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
216     28
217     28
218     28
219     28
220     28

[221 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     27
234     27
235     27
236     27
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     28
236     28
237     28
238     28
239     28

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     19
237     19
238     19

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     25
236     26
237     26
238     26
239     26

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
217     27
218     27
219     28
220     28
221     28

[222 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
236     19
237     19
238     19
239     19
240     19

[241 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     19
237     19
238     19

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
215     27
216     27
217     27
218     27
219     27

[220 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
226     27
227     27
228     27
229     27
230     28

[231 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
224     26
225     26
226     26
227     27
228     27

[229 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
221     28
222     28
223     28
224     28
225     28

[226 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
224     19
225     19
226     19
227     19
228     19

[229 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     26
231     26
232     27
233     27
234     27

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     24
236     24
237     24
238     24
239     24

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
226     21
227     28
228     28
229     28
230     28

[231 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
216     28
217     28
218     28
219     28
220     28

[221 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     24
232     24
233     26
234     26
235     27

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
226     22
227     22
228     23
229     23
230     27

[231 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     28
235     28
236     28
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     27
232     27
233     27
234     27
235     28

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
235     19
236     19
237     19
238     19
239     19

[240 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
249     19
250     19
251     19
252     19
253     19

[254 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
225     28
226     28
227     28
228     28
229     28

[230 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
238     28
239     28
240     28
241     28
242     28

[243 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     25
235     25
236     27
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
222     19
223     19
224     19
225     19
226     25

[227 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     19
232     19
233     19
234     19
235     19

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
253     19
254     19
255     19
256     19
257     19

[258 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
186     19
187     19
188     19
189     19
190     19

[191 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     19
232     19
233     19
234     19
235     19

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
222     26
223     26
224     27
225     27
226     28

[227 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     27
235     27
236     27
237     27
238     27

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     27
233     27
234     27
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     28
231     28
232     28
233     28
234     28

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     33

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     24
233     25
234     26
235     27
236     27

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     28
231     28
232     28
233     28
234     28

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     25
233     25
234     25
235     26
236     26

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
250     19
251     19
252     19
253     19
254     19

[255 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
215     27
216     27
217     27
218     28
219     28

[220 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
221     28
222     28
223     28
224     28
225     28

[226 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     23
231     23
232     23
233     23
234     23

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     19

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     27
234     27
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
219     19
220     19
221     19
222     19
223     19

[224 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     27
235     27
236     27
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
240     19
241     19
242     19
243     19
244     19

[245 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     28
235     28
236     28
237     28
238     28

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     19
232     19
233     19
234     19
235     19

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
216     28
217     28
218     28
219     28
220     28

[221 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     19
236     19
237     27

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
253     19
254     19
255     19
256     19
257     19

[258 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     27
237     27
238     27

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     26
233     26
234     26
235     26
236     27

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     27
233     27
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     19
232     19
233     19
234     27
235     27

[236 rows x 1 columns]
    VALUE
0      19
1      19
2      19
3      19
4      19
5      19
6      19
7      19
8      19
9      19
10     19
11     19
12     19
13     19
14     19
15     19
16     19
17     19
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
223     25
224     25
225     28
226     28
227     28

[228 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
102     19
103     19
104     19
105     19
106     19

[107 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     28
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
139     19
140     19
141     19
142     19
143     19

[144 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     26
233     26
234     27
235     27
236     27

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
226     33
227     33
228     33
229     33
230     33

[231 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     27
234     28
235     28
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     28
232     28
233     28
234     28
235     28

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
231     28
232     28
233     28
234     28
235     28

[236 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
236     23
237     23
238     23
239     23
240     28

[241 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
243     19
244     19
245     19
246     23
247     24

[248 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     27
234     27
235     27
236     28
237     28

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
108     19
109     19
110     19
111     19
112     19

[113 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     27
233     27
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     28
233     28
234     28
235     28
236     28

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     19
237     19
238     19

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     23
237     23
238     24

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
230     19
231     19
232     19
233     19
234     19

[235 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     19
234     19
235     23
236     23
237     23

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
233     34
234     34
235     34
236     38
237     38

[238 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
232     19
233     19
234     19
235     19
236     19

[237 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
222     28
223     28
224     28
225     28
226     28

[227 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
234     19
235     19
236     19
237     19
238     19

[239 rows x 1 columns]
     VALUE
0       19
1       19
2       19
3       19
4       19
..     ...
207     19
208     19
209     19
210     19
211     19

[212 rows x 1 columns]

In [26]:
elev_df_10.to_csv('/home/aevans/correlation/df_1km_elev_ny.csv')

In [ ]:
# x = 0
# for i in range(1,127): 
#     print(i)
#     df = pd.read_csv(f'{path_ny_30}/{i}_csv.csv')
#     df.to_csv(f'/home/aevans/landtype/elevation/data/NY/elev/30km/{station_list_ny[x]}_elev_30km.csv')
#     x+= 1

In [ ]:
# x = 0
# for i in range(1,127): 
#     df = pd.read_csv(f'{path_ny_50}/{i}_csv.csv')
#     df.to_csv(f'/home/aevans/landtype/elevation/data/NY/elev/50km/{station_list_ny[x]}_elev_50km.csv')
#     x+= 1

In [ ]:
# x = 0
# for i in range(1,145): 
#     df = pd.read_csv(f'{path_ok_30}/{i}_csv.csv')
#     df.to_csv(f'/home/aevans/landtype/elevation/data/OK/elev/30km/{station_list_ok[x]}_elev_30km.csv')
#     x+= 1

In [ ]:
# x = 0
# for i in range(1,145): 
#     df = pd.read_csv(f'{path_ok_50}/{i}_csv.csv')
#     df.to_csv(f'/home/aevans/landtype/elevation/data/OK/elev/50km/{station_list_ok[x]}_elev_50km.csv')
#     x+= 1

In [ ]:
directory = os.listdir(f'/home/aevans/landtype/elevation/data/NY/elev/50km/')
sorted_direct= sorted(directory)

In [ ]:
directory_ok = os.listdir(f'/home/aevans/landtype/elevation/data/OK/elev/50km/')
sorted_direct_ok = sorted(directory_ok)

# New York

## 50 km

In [ ]:
elev_df = stat_anal('NY', 50, sorted_direct, ny_df, station_list_ny, ny_df_lons, ny_df_lats)

In [ ]:
plurality_plot(elev_df, 'std')

In [ ]:
plurality_plot(elev_df, 'variance')

In [ ]:
plurality_plot(elev_df, 'skew')

In [ ]:
plurality_plot(elev_df, 'med_dist')

In [ ]:
good_list = good_sites_elev(elev_df)

In [ ]:
good_df = good_sites_df(elev_df, good_list)

In [ ]:
good_elevs_plot(good_df)

## 30 km

In [ ]:
directory_30 = os.listdir(f'/home/aevans/landtype/elevation/data/NY/elev/30km/')
sorted_direct_30 = sorted(directory_30)

In [ ]:
ny30_df = stat_anal('NY', 30, sorted_direct_30, ny_df, station_list_ny, ny_df_lons, ny_df_lats)

In [ ]:
ny30_df.to_csv('/home/aevans/landtype/elevation/data/NY/elev/ny30_df.csv')

In [ ]:
plurality_plot(ny30_df, 'std')

In [ ]:
plurality_plot(ny30_df, 'variance')

In [ ]:
plurality_plot(ny30_df, 'skew')

In [ ]:
plurality_plot(ny30_df, 'med_dist')

In [ ]:
good_list_30 = good_sites_elev(ny30_df)

In [ ]:
good_df30 = good_sites_df(ny30_df, good_list_30)

In [ ]:
good_elevs_plot(good_df30)

In [ ]:
directory_ok_30 = os.listdir(f'/home/aevans/landtype/elevation/data/OK/elev/30km/')
sorted_direct_ok_30 = sorted(directory_ok_30)

In [ ]:
ok30_df = stat_anal('OK', 30, sorted_direct_ok_30, ok_df, station_list_ok, ok_df_lons, ok_df_lats)
ok30_df.to_csv('/home/aevans/landtype/elevation/data/OK/elev/ok30_df.csv')

In [ ]:
plurality_plot(ok30_df, 'std')

In [ ]:
plurality_plot(ok30_df, 'variance')

In [ ]:
plurality_plot(ok30_df, 'skew')

In [ ]:
plurality_plot(ok30_df, 'med_dist')

In [ ]:
good_list_ok = good_sites_elev_ok(ok30_df)

In [ ]:
good_df_ok = good_sites_df(ok30_df, good_list_ok)

In [ ]:
good_elevs_plot(good_df_ok)