In [50]:
import pandas as pd
import os

In [51]:
# This will return the most recent data avail on mesonet
# this is my file path
ny_mesonet_data_path = "/home/aevans/nysm/archive/nysm/netcdf/proc"

In [52]:
ny_df = pd.read_csv("/home/aevans/landtype/notebooks/nysm_coords.csv")

In [53]:
station_list_ny = ny_df["station"].to_list()
ny_df_lons = ny_df["longitude"].to_list()
ny_df_lats = ny_df["latitude"].to_list()

In [54]:
df = pd.read_csv("/home/aevans/landtype/elevation/data/NY/slope/1km/SARA_elev_1km.csv")
df

   Unnamed: 0  OID_  VALUE  COUNT
0           0    19     19      3

In [55]:
mode = df["VALUE"].mode()
mode[0]

19

In [56]:
path = "/home/aevans/landtype/elevation/data/NY/slope/1km"
directory = sorted(os.listdir(path))
directory

['ADDI_elev_1km.csv',
 'ANDE_elev_1km.csv',
 'BATA_elev_1km.csv',
 'BEAC_elev_1km.csv',
 'BELD_elev_1km.csv',
 'BELL_elev_1km.csv',
 'BELM_elev_1km.csv',
 'BERK_elev_1km.csv',
 'BING_elev_1km.csv',
 'BKLN_elev_1km.csv',
 'BRAN_elev_1km.csv',
 'BREW_elev_1km.csv',
 'BROC_elev_1km.csv',
 'BRON_elev_1km.csv',
 'BROO_elev_1km.csv',
 'BSPA_elev_1km.csv',
 'BUFF_elev_1km.csv',
 'BURD_elev_1km.csv',
 'BURT_elev_1km.csv',
 'CAMD_elev_1km.csv',
 'CAPE_elev_1km.csv',
 'CHAZ_elev_1km.csv',
 'CHES_elev_1km.csv',
 'CINC_elev_1km.csv',
 'CLAR_elev_1km.csv',
 'CLIF_elev_1km.csv',
 'CLYM_elev_1km.csv',
 'COBL_elev_1km.csv',
 'COHO_elev_1km.csv',
 'COLD_elev_1km.csv',
 'COPA_elev_1km.csv',
 'COPE_elev_1km.csv',
 'CROG_elev_1km.csv',
 'CSQR_elev_1km.csv',
 'DELE_elev_1km.csv',
 'DEPO_elev_1km.csv',
 'DOVE_elev_1km.csv',
 'DUAN_elev_1km.csv',
 'EAUR_elev_1km.csv',
 'EDIN_elev_1km.csv',
 'EDWA_elev_1km.csv',
 'ELDR_elev_1km.csv',
 'ELLE_elev_1km.csv',
 'ELMI_elev_1km.csv',
 'ESSX_elev_1km.csv',
 'FAYE_elev_1km.csv',
 'FRED_elev_1km.csv',
 'GABR_elev_1km.csv',
 'GFAL_elev_1km.csv',
 'GFLD_elev_1km.csv',
 'GROT_elev_1km.csv',
 'GROV_elev_1km.csv',
 'HAMM_elev_1km.csv',
 'HARP_elev_1km.csv',
 'HARR_elev_1km.csv',
 'HART_elev_1km.csv',
 'HERK_elev_1km.csv',
 'HFAL_elev_1km.csv',
 'ILAK_elev_1km.csv',
 'JOHN_elev_1km.csv',
 'JORD_elev_1km.csv',
 'KIND_elev_1km.csv',
 'LAUR_elev_1km.csv',
 'LOUI_elev_1km.csv',
 'MALO_elev_1km.csv',
 'MANH_elev_1km.csv',
 'MEDI_elev_1km.csv',
 'MEDU_elev_1km.csv',
 'MORR_elev_1km.csv',
 'NBRA_elev_1km.csv',
 'NEWC_elev_1km.csv',
 'NHUD_elev_1km.csv',
 'OLDF_elev_1km.csv',
 'OLEA_elev_1km.csv',
 'ONTA_elev_1km.csv',
 'OPPE_elev_1km.csv',
 'OSCE_elev_1km.csv',
 'OSWE_elev_1km.csv',
 'OTIS_elev_1km.csv',
 'OWEG_elev_1km.csv',
 'PENN_elev_1km.csv',
 'PHIL_elev_1km.csv',
 'PISE_elev_1km.csv',
 'POTS_elev_1km.csv',
 'QUEE_elev_1km.csv',
 'RAND_elev_1km.csv',
 'RAQU_elev_1km.csv',
 'REDF_elev_1km.csv',
 'REDH_elev_1km.csv',
 'ROXB_elev_1km.csv',
 'RUSH_elev_1km.csv',
 'SARA_elev_1km.csv',
 'SBRI_elev_1km.csv',
 'SCHA_elev_1km.csv',
 'SCHO_elev_1km.csv',
 'SCHU_elev_1km.csv',
 'SCIP_elev_1km.csv',
 'SHER_elev_1km.csv',
 'SOME_elev_1km.csv',
 'SOUT_elev_1km.csv',
 'SPRA_elev_1km.csv',
 'SPRI_elev_1km.csv',
 'STAT_elev_1km.csv',
 'STEP_elev_1km.csv',
 'STON_elev_1km.csv',
 'SUFF_elev_1km.csv',
 'TANN_elev_1km.csv',
 'TICO_elev_1km.csv',
 'TULL_elev_1km.csv',
 'TUPP_elev_1km.csv',
 'TYRO_elev_1km.csv',
 'VOOR_elev_1km.csv',
 'WALL_elev_1km.csv',
 'WALT_elev_1km.csv',
 'WANT_elev_1km.csv',
 'WARS_elev_1km.csv',
 'WARW_elev_1km.csv',
 'WATE_elev_1km.csv',
 'WBOU_elev_1km.csv',
 'WELL_elev_1km.csv',
 'WEST_elev_1km.csv',
 'WFMB_elev_1km.csv',
 'WGAT_elev_1km.csv',
 'WHIT_elev_1km.csv',
 'WOLC_elev_1km.csv',
 'YORK_elev_1km.csv']

In [65]:
mode_ls = []
for i, _ in enumerate(directory):
    df = pd.read_csv(f"{path}/{directory[i]}")
    mode = df["VALUE"].mode()
    if len(mode) > 1:
        mode = mode[1]
    else:
        mode = mode[0]
    mode_ls.append(mode)

In [66]:
mode_ls

[19,
 23,
 19,
 19,
 19,
 19,
 26,
 19,
 28,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 27,
 19,
 19,
 19,
 19,
 19,
 19,
 24,
 19,
 19,
 24,
 19,
 19,
 27,
 19,
 19,
 19,
 19,
 28,
 23,
 19,
 19,
 19,
 19,
 19,
 19,
 23,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 25,
 23,
 22,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 23,
 28,
 23,
 19,
 19,
 19,
 19,
 19,
 19,
 23,
 19,
 19,
 19,
 24,
 19,
 19,
 19,
 19,
 19,
 19,
 22,
 19,
 19,
 22,
 19,
 19,
 19,
 19,
 27,
 19,
 19,
 19,
 19,
 19,
 27,
 19,
 19,
 26,
 19,
 19,
 19,
 27,
 22,
 19,
 19,
 19,
 19,
 28,
 19,
 19,
 19,
 19,
 24,
 19,
 23,
 19,
 19]

In [67]:
df_1km = pd.DataFrame()
df_1km["station"] = station_list_ny
df_1km["aspect"] = mode_ls
df_1km["lat"] = ny_df_lats
df_1km["lon"] = ny_df_lons
df_1km[110:126]

    station  aspect        lat        lon
110    TYRO      27  42.406109 -77.053902
111    VOOR      22  42.652420 -73.975616
112    WALL      19  41.634090 -74.153702
113    WALT      19  42.239498 -75.178787
114    WANT      19  40.655102 -73.506157
115    WARS      19  42.779930 -78.208893
116    WARW      28  41.240360 -74.390556
117    WATE      19  42.879662 -76.812553
118    WBOU      19  41.745049 -74.588333
119    WELL      19  44.307819 -76.008583
120    WEST      19  43.106468 -75.461456
121    WFMB      24  44.393234 -73.858826
122    WGAT      19  43.532410 -75.158600
123    WHIT      23  43.485073 -73.423073
124    WOLC      19  43.228680 -76.842613
125    YORK      19  42.855042 -77.847763

In [ ]:
df_1km.to_csv("/home/aevans/correlation/df_1km_aspect_ny.csv")