In [278]:
%load_ext autoreload
%autoreload 2
import sys

# instead of creating a package using setup.py or building from a docker/singularity file,
# import the sister directory of src code to be called on in notebook.
# This keeps the notebook free from code to only hold visualizations and is easier to test
# It also helps keep the state of variables clean such that cells aren't run out of order with a mysterious state
sys.path.append("..")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [279]:
import os
import pandas as pd
import cartopy.crs as crs
import cartopy.feature as cfeature
import numpy as np

In [280]:
# def format_df(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     descripdict = {}
#     colordict = {}

#     for x, _ in enumerate(colors):
#         descripdict.update({legend[x]: leg_str[x]})
#         colordict.update({legend[x]: colors[x]})

#     df["color"] = df["firstmode_val"].map(colordict)

#     df["divide"] = (df["firstmode_count"] / df["sum_total"]) * 100


# def plurality_plot(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     # legend
#     patches = []
#     for i, _ in enumerate(colors):
#         patch = mpatches.Patch(color=colors[i], label=leg_str[i])
#         patches.append(patch)

#     projPC = crs.PlateCarree()
#     latN = df["lat"].max() + 1
#     latS = df["lat"].min() - 1
#     lonW = df["lon"].max() + 1
#     lonE = df["lon"].min() - 1
#     cLat = (latN + latS) / 2
#     cLon = (lonW + lonE) / 2
#     projLcc = crs.LambertConformal(central_longitude=cLon, central_latitude=cLat)

#     fig, ax = plt.subplots(
#         figsize=(12, 9), subplot_kw={"projection": crs.PlateCarree()}
#     )
#     ax.set_extent([lonW, lonE, latS, latN], crs=projPC)
#     ax.add_feature(cfeature.LAND)
#     ax.add_feature(cfeature.COASTLINE)
#     ax.add_feature(cfeature.BORDERS, linestyle="--")
#     ax.add_feature(cfeature.LAKES, alpha=0.5)
#     ax.add_feature(cfeature.STATES)
#     ax.xticklabels_top = False
#     ax.ylabels_right = False
#     ax.gridlines(
#         crs=crs.PlateCarree(),
#         draw_labels=True,
#         linewidth=2,
#         color="black",
#         alpha=0.5,
#         linestyle="--",
#     )
#     ax.scatter(
#         x=df["lon"],
#         y=df["lat"],
#         c=df["color"],
#         s=df["divide"],
#         marker="o",
#         transform=crs.PlateCarree(),
#     )
#     ax.set_title("Mesonet Site Plurality by Landtype", size=16)
#     ax.set_xlabel("Longitude", size=14)
#     ax.set_ylabel("Latitude", size=14)
#     ax.tick_params(axis="x", labelsize=12)
#     ax.tick_params(axis="y", labelsize=12)
#     ax.grid()
#     ax.legend(
#         bbox_to_anchor=(1.05, 1), loc="upper left", borderaxespad=0, handles=patches
#     )


# def percent_plot(df):
#     colors = [
#         "black",
#         "blue",
#         "white",
#         "coral",
#         "pink",
#         "red",
#         "magenta",
#         "gray",
#         "lime",
#         "forestgreen",
#         "green",
#         "olive",
#         "brown",
#         "slategray",
#         "darkorchid",
#         "plum",
#         "indigo",
#         "purple",
#         "yellow",
#         "gold",
#         "orange",
#         "cyan",
#     ]
#     legend = np.array(
#         [
#             0,
#             11,
#             12,
#             21,
#             22,
#             23,
#             24,
#             31,
#             41,
#             42,
#             43,
#             45,
#             51,
#             52,
#             71,
#             72,
#             73,
#             74,
#             81,
#             82,
#             90,
#             95,
#         ]
#     )
#     leg_str = [
#         "No Data",
#         "Open Water",
#         "Perennial Ice/Snow",
#         "Developed, Open Space",
#         "Developed, Low Intensity",
#         "Developed, Medium Intensity",
#         "Developed High Intensity",
#         "Barren Land (Rock/Sand/Clay)",
#         "Deciduous Forest",
#         "Evergreen Forest",
#         "Mixed Forest",
#         "Forest/Shrub",
#         "Dwarf Scrub",
#         "Shrub/Scrub",
#         "Grassland/Herbaceous",
#         "Sedge/Herbaceous",
#         "Lichens",
#         "Moss",
#         "Pasture/Hay",
#         "Cultivated Crops",
#         "Woody Wetlands",
#         "Emergent Herbaceous Wetlands",
#     ]

#     # legend
#     patches = []
#     for i, _ in enumerate(colors):
#         patch = mpatches.Patch(color=colors[i], label=leg_str[i])
#         patches.append(patch)

#     fig, ax = plt.subplots(figsize=(20, 10))
#     ax.scatter(df["station"], df["divide"], c=df["color"], s=50)
#     for n in df.iterrows():
#         ax.annotate(n[1]["station"], (n[1]["station"], n[1]["divide"]), fontsize=15)
#     ax.grid()
#     ax.set_ylabel("Percent of Total", size=20)
#     ax.tick_params(labelbottom=False, bottom=False)
#     ax.legend(
#         bbox_to_anchor=(1.05, 1), loc="center left", borderaxespad=0, handles=patches
#     )

In [281]:
def format_df(df):
    new_df = pd.DataFrame()
    value_list = []
    for x, _ in df.iterrows():
        count = int(df.iloc[x]["COUNT"])
        value = df.iloc[x]["VALUE"]
        for n in np.arange(count):
            val = value
            value_list.append(val)
    new_df["VALUE"] = value_list
    return new_df

In [282]:
# This will return the most recent data avail on mesonet
# this is my file path
ny_df = pd.read_csv("/home/aevans/nwp_bias/src/landtype/data/nysm.csv")

In [283]:
ny_df.head()

,stid,number,name,lat [degrees],lon [degrees],elevation [m],county,nearest_city,state,distance_from_town [km],direction_from_town [degrees],climate_division,climate_division_name,wfo,commissioned,decommissioned
0,ADDI,107,Addison,42.04036,-77.23726,507.6140,Steuben,Addison,NY,6.9,S,1,Western Plateau,BGM,2016-08-10 18:15:00 UTC,NaN
1,ANDE,111,Andes,42.18227,-74.80139,518.2820,Delaware,Andes,NY,1.5,WSW,2,Eastern Plateau,BGM,2016-08-04 15:55:00 UTC,NaN
2,BATA,24,Batavia,43.01994,-78.13566,276.1200,Genesee,Batavia,NY,4.9,ENE,9,Great Lakes,BUF,2016-02-18 18:40:00 UTC,NaN
3,BEAC,76,Beacon,41.52875,-73.94527,90.1598,Dutchess,Beacon,NY,3.3,NE,5,Hudson Valley,ALY,2016-08-22 16:45:00 UTC,NaN
4,BELD,90,Belden,42.22322,-75.66852,470.3700,Broome,Belden,NY,2.2,NNE,2,Eastern Plateau,BGM,2015-11-30 20:20:00 UTC,NaN

In [284]:
ny_df["climate_division_name"].unique()

array(['Western Plateau', 'Eastern Plateau', 'Great Lakes',
       'Hudson Valley', 'Coastal', 'Central Lakes', 'Mohawk Valley',
       'Champlain Valley', 'Northern Plateau', 'St. Lawrence Valley'],
      dtype=object)

In [285]:
df = ny_df[ny_df["climate_division_name"] == "Western Plateau"]

In [286]:
ny_df_lons = df["lon [degrees]"].to_list()
ny_df_lats = df["lat [degrees]"].to_list()

In [287]:
station_list_ny = df["stid"].to_list()

In [288]:
# Initialize an empty DataFrame to store the combined data.
df_complete = pd.DataFrame()

# Loop over the CSV files and combine them into a single DataFrame.
for i in range(1, len(station_list_ny) + 1):
    # Read the CSV file and calculate the percentage of each aspect.
    df_x = pd.read_csv(
        "/home/aevans/nwp_bias/src/landtype/data/nysm_representativeness_analysis/aspect_slope/aspect_slope_western_plat.csv"
    )
    df_x = df_x.assign(Percentage=lambda x: (x["Count"] / sum(df_x["Count"]) * 100))

    # Add the site number and pivot the DataFrame to have aspects as columns.
    df_x["site"] = i
    df_x = df_x.pivot(index="site", columns="Value", values="Percentage")

    # Concatenate the current DataFrame with the combined DataFrame.
    df_complete = pd.concat([df_complete, df_x])

# Add the station names as a column in the DataFrame and fill missing values with 0.
df_complete["station"] = station_list_ny
df_complete = df_complete.fillna(0)
df_complete

# Save the DataFrame as a CSV file.
df_complete.to_csv(
    "/home/aevans/nwp_bias/src/landtype/data/nysm_representativeness_analysis/clean/aspect_slope/aspect_slope_western_plateau.csv"
)

In [289]:
df_complete

Value,19,21,22,23,24,25,26,27,28,station
site,,,,,,,,,,
1,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,ADDI
2,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,BELM
3,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,COHO
4,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,DELE
5,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,ELMI
6,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,GROV
7,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,HART
8,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,OLEA
9,81.100287,2.005731,2.882521,3.340974,1.547278,1.100287,2.286533,3.358166,2.378223,RAND

In [ ]:
# paths to data nlcd
path = "/home/aevans/nwp_bias/src/landtype/data/buffer_30_km/extract_csv_nysm"
# paths to data slope
path_ny = f"/home/aevans/nwp_bias/src/landtype/elevation/data/CSVs_slope_ny_30km"

In [38]:
import pandas as pd


def process_csv_files(path: str, station_list: list) -> None:
    """
    Reads multiple CSV files containing aspect data for different sites,
    calculates the percentage of each aspect for each site, and combines
    the data into a single DataFrame. The resulting DataFrame is filled
    with 0 for missing values, and then saved as a CSV file.

    Args:
        path (str): The path where the CSV files are located.
        station_list (list): A list of station names corresponding to each site.

    Returns:
        None
    """

    # Initialize an empty DataFrame to store the combined data.
    df_complete = pd.DataFrame()

    # Loop over the CSV files and combine them into a single DataFrame.
    for i in range(1, len(station_list) + 1):
        # Read the CSV file and calculate the percentage of each aspect.
        df_x = pd.read_csv(f"{path}/{i}_csv.csv")
        df_x = df_x.assign(Percentage=lambda x: (x["Count"] / sum(df_x["Count"]) * 100))

        # Add the site number and pivot the DataFrame to have aspects as columns.
        df_x["site"] = i
        df_x = df_x.pivot(index="site", columns="Value", values="Percentage")

        # Concatenate the current DataFrame with the combined DataFrame.
        df_complete = pd.concat([df_complete, df_x])

    # Add the station names as a column in the DataFrame and fill missing values with 0.
    df_complete["station"] = station_list
    df_complete = df_complete.fillna(0)

    # Save the DataFrame as a CSV file.
    df_complete.to_csv("/home/aevans/nwp_bias/src/landtype/notebooks/aspect_30.csv")
    return df_complete

In [39]:
df = process_csv_files(path_ny, station_list_ny)

In [40]:
df

Value,19,21,22,23,24,25,26,27,28,33,37,32,34,38,31,35,36,station
site,,,,,,,,,,,,,,,,,,
1,78.362573,2.850877,3.070175,2.521930,2.960526,1.937135,2.668129,2.558480,3.070175,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,ADDI
2,52.497343,6.269926,3.719447,6.836699,5.419766,4.321644,6.269926,6.695005,7.970244,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,ANDE
3,98.319942,0.000000,0.073046,0.840029,0.073046,0.000000,0.000000,0.438276,0.255661,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,BATA
4,87.073609,0.825853,1.077199,3.590664,1.184919,0.179533,0.897666,3.123878,2.046679,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,BEAC
5,83.398093,1.377605,2.225362,2.366655,0.812434,1.059696,1.695514,3.708937,3.355705,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,BELD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,56.477806,4.077950,5.485384,9.418982,4.907975,1.443522,3.284013,6.243233,7.470227,0.577409,0.072176,0.144352,0.108264,0.18044,0.072176,0.036088,0.0,WFMB
123,95.348011,0.106534,0.852273,0.852273,0.958807,0.710227,0.390625,0.497159,0.284091,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,WGAT
124,68.813179,1.010857,2.658180,9.434669,2.321228,0.786222,2.845376,9.022838,2.807937,0.074878,0.224635,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,WHIT
125,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,WOLC
126,91.293167,0.110213,1.836885,2.094048,0.183688,0.146951,1.028655,2.461425,0.844967,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,YORK